/* =======================
   VARIABLES
======================= */
:root {
  --color-hover: #afeeee;
  --color-active: #2daba6;
  --color-right: #228b22;
  --color-error: #fa8072;
  --color-disabled: #a9a9a9;

  --color-black: #000;
  --color-white: #fff;
  --color-cube: #90ee90;
  --cube-size: 2rem;
}

/* =======================
   BASE
======================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  padding: 2rem clamp(1rem, 5vw, 20rem);
}

/* =======================
   COMPONENTS
======================= */

.multiply-game {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-input {
  width: 3.75rem;
  padding: 3px;
  margin-left: 0.375rem;
  border: 2px solid var(--color-black);
  font-size: inherit;
  outline: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden-input {
  width: 3.75rem;
  padding: 3px;
  border: none;
  background-color: transparent;
  color: var(--color-black);
  outline: none;
}

.cubes-row {
  display: flex;
  gap: 0.5rem;
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  background-color: var(--color-cube);
  opacity: 0;
  transform: translateY(3rem);

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cube.show {
  opacity: 1;
  transform: translateY(0);
}

.check-btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.375rem 0.75rem;
  font-size: inherit;
  color: var(--color-white);
  border: none;
  background-color: var(--color-active);
  cursor: pointer;
  transition: background-color 0.3s;
}

.check-btn.active {
  background-color: var(--color-active);
}

.check-btn:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.check-btn.right {
  background-color: var(--color-right);
}

.check-btn.wrong {
  background-color: var(--color-error);
}

.check-btn:hover:not(:disabled):not(.wrong):not(.right) {
  background-color: var(--color-hover);
}

.wrong-input {
  color: var(--color-error);
}

.message {
  margin-top: 1rem;
}
